@model ToolsStore.Models.Category

@{
    ViewBag.Title = "Browse Products";
}

<div>
    <h2 class="browse-h2"><em>@Model.Name</em> Category</h2>
    <div class="row product-table">
        @foreach (var product in Model.Products)
        {

            <div class="col-md-4 product-block">
                <div class="product-block-inside">
                <a class="product-a" href="@Url.Action("Details", new { id = product.ProductId})">
                    <h2 class="product-title">@product.Title</h2>
                    <img class="product-img img-responsive" src="@product.ProductImgUrl" alt="@product.Title" />

                </a>
                <p class="product-price">Price : @Html.DisplayFor(modelItem => product.Price)</p>
                <a class="btn btn-primary btn-details" role="button" href="@Url.Action("Details", "Store", new { id = product.ProductId })" >
                    Details
                </a>
                 @Html.ActionLink("Buy Product", "AddToCart","ShoppingCart", new { id = product.ProductId },new { @class= "btn btn-success btn-details" })
            </div>
            </div>

        }
    </div>
</div>