@model ToolsStore.Models.Product

@{
    ViewBag.Title = "Product - " + Model.Title;
}

<div class="row">
    <div class="col-md-12">
        <div class="details-block">
            <h2>@Model.Title</h2>
                <img class="details-img" alt="@Model.Title" src="@Model.ProductImgUrl" />
            <div id="details-product">
                <p>
                    <em>Category : </em>
                    @Model.Category.Name
                </p>
                <p>
                    <em>Brand : </em>
                    @Model.Brand.Name
                </p>
                <p>
                    <em>Price : </em>
                    @String.Format("{0:F}", Model.Price)
                </p>
                <p class="button">
                    @Html.ActionLink("Add to cart", "AddToCart","ShoppingCart", new { id = Model.ProductId }, "")
                </p>
            </div>
        </div>
    </div>
</div>



