@model IEnumerable<ToolsStore.Models.Product>

@{
    ViewBag.Title = "Store";
}
<div class="row">

    @foreach (var product in Model)
    {
        <div class="col-sm-6 col-md-4 thumbnail-block">
            <div class="thumbnail">
                <a href="@Url.Action("Details", "Store", new { id = product.ProductId })">
                    <img class="img-responsive" alt="@product.Title" src="@product.ProductImgUrl" />
                </a>
                <div class="caption">
                    <h3>@product.Title</h3>
                    <p class="product-price">@Html.DisplayFor(modelItem => product.Price)</p>
                            
                    <a href="@Url.Action("Details", "Store", new { id = product.ProductId })" class="btn btn-primary" role="button">
                        Details
                    </a>
                </div>
            </div>
        </div>
    }

</div>
