@model IEnumerable<ToolsStore.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2 class="manager-h2">Index</h2>

<p class="manager-create-btn">
    @Html.ActionLink("Create New", "Create","StoreManager", new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            Image
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand.Name)
        </th>
        <th>
           @Html.DisplayNameFor(model => model.Category.Name) 
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
           @Html.DisplayNameFor(model => model.Price) 
        </th>
        <th>
            Edit
        </th>
        <th>
            Details
        </th>
        <th>
            Delete
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           <img src="@Html.DisplayFor(modelItem => item.ProductImgUrl)" height="90" width="90" alt="item.title" />
        </td>
        <td>
           @Html.DisplayFor(modelItem => item.Brand.Name) 
        </td>
        <td>
           @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            <a class="btn btn-primary" href="@Url.Action("Edit","StoreManager", new { id = item.ProductId})"><span class="glyphicon glyphicon-pencil"></span></a>
        </td>
        <td>
            <a class="btn btn-warning" href="@Url.Action("Details","StoreManager", new { id = item.ProductId})"><span class="glyphicon glyphicon-list-alt"></span></a>
        </td>
        <td>
            <a class="btn btn-danger" href="@Url.Action("Delete","StoreManager", new { id = item.ProductId})"><span class="glyphicon glyphicon-trash"></span></a>
        </td>
    </tr>
}

</table>
